.pad{
    background: linear-gradient(135deg, rgba(250, 205, 45, 1) 11%, rgba(230, 120, 47, 1) 75%);
    margin-top: 200px;
    padding: 7%;
}

.pad h1, .pad h3{
    text-align: center;
}
.pad p{
    text-align: center;
    margin: 0;
}

.details{
    width: fit-content;
}

.details p{
    text-align: left;
    display: inline-block;
    margin-left: 40px;
    margin-right: 17px;
}

.details img{
    width: 25px;
    height: 25px;
    margin-left: 80px;
    vertical-align: middle;
}