.payment-form{
background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
}
.content h1{
    text-align: center;
}.payment-container{
    margin-top: 20px;
}.payment-form label{
    display: block;
    margin-bottom: 5px;
}.payment-form input[type="text"], .payment-form input[type="number"], .payment-form input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}.payment-form button{
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}.payment-form button:hover{
    background-color: #003580;
}.label{
    font-weight: bold;
}.input-field{
    margin-bottom: 15px;
}.input-field input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}.submit-button{
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}.submit-button:hover{
    background-color: #003580;
}.qr section{
    text-align: center;
    margin-top: 20px;
}.qr-section img{
    max-width: 200px;
    height: auto;
}.qr-section p{
    margin-top: 10px;
    font-size: 14px;
}.qr-box{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}.qr-box h2{
    margin-top: 0;
}.qr-box p{
    margin-bottom: 10px;
}.qr-box button{
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}.qr-box button:hover{
    background-color: #003580;
}.history-box{
    background-color: #887e7e;
    padding: 20px;
    border-radius: 5px;
    margin-bottom-center: 20px;
}.history-box h2{
    margin-top: 0;
}.history-box p{
    margin-center: 10px;
}.history-box button{
    background-color: #004AAD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}.history-box button:hover{
    background-color: #003580;
}