*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    display:flex;
    background:#f5f5f5;
}



.sidebar{
    width:220px;
    height:100vh;
    background:white;
    padding:25px 15px;
    border-right:1px solid #ccc;
}

.logo{
    text-align:center;
    margin-bottom:30px;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:15px 0;
}

.sidebar ul li a{
    text-decoration:none;
    color:black;
    display:block;
    padding:10px;
}

.sidebar ul li.active{
    background:#e8f0fa;
}

.sidebar ul li.active a{
    font-weight:bold;
}



.main{
    flex:1;
}



.navbar{
    height:65px;
    background:#0057b8;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right:20px;
}

.user-btn{
    padding:8px 18px;
    background:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}



.content{
    padding:40px;
}

.content h1{
    font-size:45px;
    margin-bottom:20px;
    font-weight:normal;
}



.table-container{
    background:white;
    border:1px solid #d0d0d0;
    min-height:500px;       
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#f4ad18;
}

th{
    padding:18px;
    text-align:center;
    font-weight:normal;
}

td{
    padding:20px;
    text-align:center;
    border-bottom:1px solid #ccc;
}



.view-btn{
    background:#19c2e8;
    border:none;
    padding:7px 25px;
    border-radius:20px;
    cursor:pointer;
}