
.top-bar,
.sidebar,
.profile-button,
.sidebar a {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}.top-bar {
    background: #004AAD;
    padding: 16px 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    z-index: 10;
}.profile-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 6px 6px 12px;
    background: pink;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}.sidebar {
    width: 200px;
    background-color: white;
    position: fixed;
    top: 72px;
    left: 0;
    height: calc(100% - 72px);
    border: 1px solid;
    z-index: 11;
}.sidebar a{
    display: block;
    color: black;
    margin: 6px 10px;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.2;

}.sidebar a:hover{
    background-color: #E5E4E2;
     color: rgb(61, 113, 130);   }
.icon2{
    width:60px;
    height: 60px;
    margin-left:70px;
    margin-top: 50px;
}
