*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    display:flex;
    background:#f4f6f9;
}


.sidebar{
    width:240px;
    height:100vh;
    background:white;
    padding:30px 20px;
    box-shadow:2px 0 10px rgba(0,0,0,.08);
}

.logo{
    text-align:center;
    margin-bottom:40px;
}

.logo img{
    width:80px;
    height:80px;
    border-radius:50%;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:10px 0;
}

.sidebar ul li a{
    display:block;
    text-decoration:none;
    color:black;
    padding:15px;
    border-radius:8px;
    transition:.3s;
}

.sidebar ul li a:hover{
    background:#e3f2fd;
}

.sidebar ul li.active a{
    background:#0d47a1;
    color:white;
}


.main{
    flex:1;
}


.navbar{
    height:70px;
    background:#0d47a1;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding:0 30px;
}

.user{
    background:white;
    padding:8px 18px;
    border-radius:6px;
    font-weight:bold;
}


.content{
    padding:35px;
}

.content h1{
    margin-bottom:30px;
}


.profile-container{
    display:flex;
    gap:30px;
}


.profile-card{
    width:280px;
    background:white;
    border-radius:10px;
    padding:30px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.avatar img{
    width:120px;
    height:120px;
    border-radius:50%;
    margin-bottom:20px;
}

.profile-card h2{
    margin-bottom:10px;
}

.profile-card p{
    color:green;
}


.profile-details{
    flex:1;
    background:white;
    border-radius:10px;
    padding:30px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.profile-details h2{
    margin-bottom:20px;
}

.profile-details label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

.profile-details input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
}

.update-btn{
    margin-top:25px;
    width:100%;
    padding:14px;
    background:#0d47a1;
    color:hsl(0, 0%, 100%);
    border:none;
    border-radius:8px;
    cursor:pointer;
}