.form {
    background: linear-gradient(135deg, rgba(250, 205, 45, 1) 11%, rgba(230, 120, 47, 1) 75%);
    margin-top: 150px;
    border-radius: 7px;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.form label {
    margin-left: 50px;
}
.form input,
.form textarea {
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}
.form button {
    display: block;
    width: 30%;
    min-width: 120px;
    padding: 5px;
    margin: 20px auto 0;
    background-color: #004AAD;
    color: white;
    border-radius: 5px;
}
